<div style="display: flex; flex-wrap: wrap;">
  <div class="art-column">
    <ng-container *ngFor="let artCard of artCardsList | slice:0:3; let i=index">
      <app-art-card [artCard]="artCard"></app-art-card>
    </ng-container>
  </div>
  <div class="art-column">
    <ng-container *ngFor="let artCard of artCardsList | slice:3:5; let i=index">
      <app-art-card [artCard]="artCard"></app-art-card>
    </ng-container>
  </div>
   <div class="art-column">
    <ng-container *ngFor="let artCard of artCardsList | slice:5:10; let i=index">
      <app-art-card [artCard]="artCard"></app-art-card>
    </ng-container>
  </div>
</div>
