.art-column {
  flex: 25%;
  max-width: 33.3333333333%;
  padding: 0 4px;
}

@media (max-width: 960px) {
  .art-column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .art-column {
    flex: 100%;
    max-width: 100%;
  }
}
